
<a class="linktotab" data-target="DanhMucContent" data-href="/mpage/index"><i class="fa fa-circle-o"></i> Danh Mục</a>

<div class="row ">
    <section class="col-md-6 connectedSortable" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Tiêu Điểm</h3>
            </div>
            <div class="panel-body">
                <table class="table table-responsive" id="" >
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="/mnews/editnews/<?php echo $_news->Id ?>"  >
                                    <i class="fa fa-edit" ></i>
                                </a>
                            </td>
                            <td>
                                <a href="/mnews/editnews/<?php echo $_news->Id ?>"  >

                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>  
            </div>
        </div>

    </section>
    <section class="col-md-6 connectedSortable">
    </section>
</div>
